body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.navbar{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 0.3rem;
    z-index: 10;
}

.menu{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #000000;
    border-radius: 0px 10px 10px 10px;
}

.logo{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
}

.Opl {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 10% auto;
}

p {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #443127;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #4caf50;
}
